<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!--<div [appMycolor]="color" [defaultColor]="myDefaultColor">
      <h2>
      My First Customer Directive with Angular
     </h2>
  </div>
  <div appMycolor [defaultColor]="myDefaultColor">
      <h2>
      My First Customer Directive without Input binding Angular
     </h2>
  </div>-->
</div>
<!--<app-mycomp> <h1> Content Projection Works </h1>  </app-mycomp>
<div *appMyIf="movie" >
      My If Is Working.
</div> -->

<app-movies></app-movies>

